.homeList {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 70px;
}

.homeAllList {
  align-items: center;
  justify-content: center;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.background {
  border: 2px solid red;
}
